/*Alert message*/

.enter {
    transform: translateX(150%);
    opacity: 0;
    /* margin-right: -10vw; */
}

.enterActive {
    opacity: 1;
    transform: translateX(0);
    /* margin-right: -5vw; */
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exit {
    opacity: 1;
    transform: translateX(0);
    /* margin-right: -5vw; */
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
}

.exitActive {
    opacity: 0;
    transform: translateX(150%);
    /* margin-right: -10vw; */
}

/*Alert message*/